/*
body, button, canvas {
    cursor: url("mouse.png"), auto !important;
}
*/
html, body {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
    background-color: black;
}
canvas {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
}

.buttons-container {
    position: fixed;
    right: 0;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

button#clear-canvas,
button#join-room {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    border: none;
}
.joined {
    background-color: red;
}

.not-joined {
    background-color: green;
}

#join-room.not-joined .icon-joined {
    display: none;
}

#join-room.joined .icon-not-joined {
    display: none;
}

.room-code {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.size-1 {
    width: 24px;
    height: 24px;
}

.title {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
}

.active {
    background-color: grey;
    color: white;
}

/* Modal Styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal.hidden {
    display: none;
}

.room-code.hidden {
    display: none;
}

#room-code-input {
    font-size: 16px;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 4px 16px rgba(0,0,0,0.25);
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.modal-buttons button {
    padding: 0.5rem;
}

.close-modal-button {
    position: absolute;
    top: 10px;
    right: 12px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #555;
}

.close-modal-button:hover {
    color: #000;
}
