/*
body, button, canvas {
    cursor: url("mouse.png"), auto !important;
}
*/
html, body {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
    background-color: black;
}
canvas {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
}

.buttons-container {
    position: fixed;
    right: 0;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#room-code-container {
    cursor: pointer;
}

button {
    cursor: pointer;
}

button#clear-canvas,
button#eraser,
button#join-room {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    border: none;
}
.joined {
    background-color: #ff0000;
}

.joined:hover {
    background-color:#ce0000;
}

.not-joined {
    background-color: #008000;
}

.not-joined:hover {
    background-color:#006b00;
}

#join-room.not-joined .icon-joined {
    display: none;
}

#join-room.joined .icon-not-joined {
    display: none;
}

.room-code {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.size-1 {
    width: 24px;
    height: 24px;
}

.title {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
}

.title-text {
    cursor: default;
}

.active {
    background-color: grey;
    color: white;
}

/* Modal Styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal.hidden {
    display: none;
}

.room-code.hidden {
    display: none;
}

#room-code-input {
    font-size: 16px;
}

.modal-content {
    background: #0f0840;
    background: linear-gradient(50deg,rgba(9, 5, 32, 1) 2%, rgba(10, 7, 51, 1) 39%, rgba(9, 5, 32, 1) 83%);
    color:rgba(118, 124, 243, 1);
    font-size: 15px;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.modal-content::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: -6px;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at bottom center, #715BDD 19%, #2C6C94 100%);
    border-radius: 10px;
    z-index: -1;
    pointer-events: none;
}

.modal-content #room-code-input {
    width: 60%;
    padding: .6rem;
    border-radius: 12px;
    border: none;
    background: rgba(67, 80, 166, 1);
    color: rgba(9, 5, 32, 1);
    font-size: 15px;
    text-align: left;
    outline: none;
}

.modal-buttons button {
    width: 150px;
    padding: 0.5rem;
    margin: 1.4rem 0rem;
    background: transparent;
    border: 2px solid black;
    border-color:  rgba(67, 80, 166, 1);
    border-radius: 12px;
    color:  rgba(67, 80, 166, 1);
    font-size: 16px;
    text-align: center;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    cursor: pointer;
}

.modal-buttons button:hover {
    background: rgb(32, 36, 96);
    border: 2px solid black;
    border-color: rgba(124, 115, 251, 1);
    color: rgba(124, 115, 251, 1);
}

.close-modal-button {
    position: absolute;
    top: 10px;
    right: 12px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: rgba(54, 47, 150, 1);
}

.close-modal-button:hover {
    color: rgba(124, 115, 251, 1);
}
